body {
  margin: 0;
}
.article {
  font-size: 65px;
  color: blue;
  background-color: beige;
  margin: 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  font-size: 30px;
  background-color: yellow;
}

p {
  font-size: 40px;
  background-color: rosybrown;
}
